<form>
  Enter your contact details here and click submit to see in the logs:
      <div *ngFor="let tab of tabs; let i = index">
        <app-input-tab [(inputValue)]="tab.value" (valueChange)="updateTabValue(i, $event)" (removeTabClick)="removeTab(i)"></app-input-tab>
      </div>
      <div>
        
        <button (click)="addNewTab()">Add another phone number</button>
      </div>
      
      <button (click)="submitTabs()">Submit</button>
      <!-- <div *ngIf="submittedValues.length > 0">
        <h2>Submitted Values:</h2>
        <ul>
          <li *ngFor="let value of submittedValues">{{ value }}</li>
        </ul>
      </div> -->
</form>